.container {
    width: 70%;
    padding: 0 15%;
}

section {
    margin: 25px auto 0;
    padding: 10px 0 25px;
    border-bottom: 1px var(--font-colour) solid;
}

#header {
    display: flex;
}

#header div {
    width: 50%;
}

.filepath-selector {
    text-align: right;
}

.recent-file {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.selected {
    background-color: #56DD8F40 !important; /* Prevent hover bg colour overpowering */
    cursor: pointer;
}

.recent-file > div {
    width: 50%;
}

#recent-date {
    text-align: right;
    margin-top: 11px;
}

#recent-file-errors {
    text-align: center;
    width: 100%;
    display: none;
}

footer {
    text-align: right;
    margin-top: 25px;
}

button:disabled, button[disabled] {
    background-color: #caded2;
    cursor: not-allowed;
}