nav {
    background-color: var(--background-colour);
    padding: 15px 7px;
    overflow: auto;
}

nav .control-buttons {
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

nav .control-buttons button {
    border-radius: 100%;
    background-color: #fff;
    border: 1px var(--font-colour) solid;
    text-align: center;
    padding: 8px;
    vertical-align: middle;
}

nav .control-buttons #play-btn {
    margin: 0 10px;
}

nav .control-buttons #prev-btn {
    padding-right: 11px;
}

nav .control-buttons #next-btn {
    padding-left: 11px;
}

nav .control-buttons button svg {
    height: 20px;
    width: 20px;
    /* padding: 10px; */
}

#play-btn svg {
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-left: 8px;
}

.paused {
    width: 56px;
}

.paused svg {
    margin-left: 5px !important; 
}

.titles {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
}

.titles div {
    width: 50%;
}

.titles .titles-right {
    text-align: right;
}

.canvas-container {
    margin: 5px 25px;
}

canvas {
    width: 100%;
}

select {
    margin: 5px 25px;
}