<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/fileSelector.css">
    <title>Project - Select Guitar Pro File</title>
</head>
<body>
    <section>
        <div>
            <h1>Select a Song:</h1>
        </div>
        <div class="filepath-selector">
            <p id="filepath-lbl"></p>
            <button id="search-btn" class="btn-coloured">Search</button>
        </div>
    </section>

    <script src="../scripts/fileSelector.js"></script>
</body>
</html>